body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#heading {
    font-family: sans-serif;
    text-align: center;
    display: inline-block;
    color: white;
}

li {
    background-color: white;
    padding: 5%;
    margin: 2%;
}

li:hover {
    background-color: #f7f5dd;
    box-shadow: 0px 0px 3px 3px grey;
}

#title-icon {
    font-size: 1.75rem;
}

.fa-address-book {
    color: white;
}

.fa-phone {
    color: #111d5e;
}

#c-name,
#c-phone {
    font-family: sans-serif;
    font-weight: bolder;
    color: #111d5e;
}

#container {
    width: 611.69px;
    height: 465.84px;
    padding: 5%;
    margin-top: 5%;
    border: 1px solid #A569BD;
    border-radius: 5px;
    background-color: #A569BD;
}

#list-container {
    margin-left: 3%;
    width: 80%;
    height: 150px;
    overflow-y: scroll;
    margin-bottom: 10%;
}

#c-phone {
    float: right;
}

#top-section {
    margin-left: 160px;
}

.form-input {
    margin-left: 12%;
    width: 70%;
    height: 30px;
    border: none;
    margin-bottom: 2%;
}

.form-input:hover {
    background-color: lightblue;
    box-shadow: 0px 0px 2px 2px whitesmoke;
}

.btn {
    background-color: #ddf3f5;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #111d5e;
    margin-left: 12%;
    width: 70.5%;
    height: 40px;
    border: 1px solid white;
}

.btn:hover {
    background-color: lightblue;
    opacity: 75%;
    box-shadow: 0px 0px 2px 2px whitesmoke;
}

#delete-link {
    float: right;
    color: red;
    text-decoration: none;
}